.header-secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  a {
    color: $brand-tertiary;
  }

  .header-logo {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    justify-self: center;

    @include media-breakpoint-up(lg) {
      grid-row: 2 / span 1;
    }

    img {
      width: 100px;

      @include media-breakpoint-up(lg) {
        width: 180px;
      }
    }
  }

  .header-search {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;

    ul {
      display: flex;
      align-items: center;
      gap: 15px;

      li:first-child {
        a {
          color: $brand-primary;
        }
      }

      a {
        font-size: 22px;
      }
    }
  }

  .header-controls {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;

    ul {
      display: flex;
      align-items: center;
      gap: 15px;

      li:nth-child(2) {
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          color: $brand-primary;

          img {
            height: 30px;
          }
        }
      }

      a {
        font-size: 22px;
      }
    }

    .cart-controls {
      position: relative;
    }

    .qty {
      position: absolute;
      min-width: 21px;
      height: 21px;
      background-color: $brand-primary;
      color: $white;
      font-weight: bold;
      font-size: 14px;
      border-radius: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
      top: -10px;
      right: -10px;
    }
  }

  .header-support {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    align-self: center;
    font-weight: 300;

    ul {
      display: flex;
      align-items: flex-end;
      gap: 5px;
    }

    .contact {
      i {
        font-size: 22px;
        color: $brand-primary;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
